mat-card {
  max-width: 1000px;
  margin: 2em auto;
  text-align: center;
}


table {
  width: 100%;
  text-align: left !important;
}

.action-btn-class {
  width: 100%;
  max-width: fit-content;
  margin-right: -20px !important;
}
