<mat-card>
  <div class="mat-action-row">
    <div class="col-8">
      <div class="column">
        <h2>İkinci El Kıyafet Online Alışveriş Sitesi</h2>
      </div>
      <div class="column" style="text-align: right">
        <span>Hello {{loginUser}}</span>
        <button mat-button color="primary" class="fa fa-sign-out" (click)="logout()">Log Out</button>
      </div>
    </div>
  </div>


  <img src="https://cdn.dolap.com/web/images/logo-3.svg" width="300" height="100">
  <div class="row">
    <button mat-button color="primary" class="fa fa-sign-out" (click)="createProduct()">Create Product</button>
    <button mat-button color="primary" (click)="createCategory()">Create Category</button>
  </div>
  <div class="row">
    <table mat-table [dataSource]="products">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let product"> {{product.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let product"> {{product.description}} </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Note</th>
        <td mat-cell *matCellDef="let product"> {{product.description}} </td>
      </ng-container>

      <ng-container matColumnDef="note">
        <th mat-header-cell *matHeaderCellDef> Note</th>
        <td mat-cell *matCellDef="let product"> {{product.note}} </td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef> Category Name</th>
        <td mat-cell *matCellDef="let product"> {{product.category.name}} </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Price</th>
        <td mat-cell *matCellDef="let product">{{product.price}}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action</th>
        <div class="action-btn-class" *matCellDef="let product">
          <button mat-raised-button color="primary" (click)="editProduct(product)">Edit</button>
          <button mat-raised-button color="warn" (click)="deleteProduct(product)">Delete</button>
        </div>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</mat-card>
