<mat-card>
  <mat-card-header>
    <mat-card-title>Product Add</mat-card-title>
    <img src="https://cdn.dolap.com/web/images/logo-3.svg" width="200" height="300">
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="productForm" (ngSubmit)="updateProduct()">
      <table>
        <mat-card-content>
          <tr>
            <td>
              <mat-form-field class="full-width-input">
                <input matInput formControlName="name" matTooltip="Enter Product Name"
                       placeholder="Product Name">
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="full-width-input">
                <input matInput formControlName="description" matTooltip="Enter Product Description"
                       placeholder="Product Description">
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="full-width-input">
                <input matInput formControlName="note" matTooltip="Enter Product Note (Optional)"
                       placeholder="Product Note">
              </mat-form-field>
              <mat-error>
              </mat-error>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="full-width-input">
                <input type="number" matInput formControlName="price" matTooltip="Enter Product Price"
                       placeholder="Product Price">
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field>
                <mat-select formControlName="category" [(ngModel)]="selectedCategory" placeholder="Category">
                  <mat-option *ngFor="let category of categories" [value]="category">
                    {{category.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </tr>
        </mat-card-content>
        <button mat-raised-button color="primary" (click)="goBack()">Geri</button>
        <button type="submit" mat-raised-button color="primary" matTooltip="Add Product"
                [disabled]="!productForm.valid">Save
        </button>
      </table>

    </form>
  </mat-card-content>
</mat-card>
