<mat-card>
  <mat-card-header>
    <mat-card-title>Trendyol</mat-card-title>
    <img src="https://cdn.dolap.com/web/images/logo-3.svg" width="200" height="300">
  </mat-card-header>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <mat-card-content>
      <div class row>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="Username" formControlName="username" required>
          <mat-error>
            Please provide a valid Username
          </mat-error>
        </mat-form-field>
      </div>
      <div class row>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="Email" formControlName="email" required>
          <mat-error>
            Please provide a valid email address
          </mat-error>
        </mat-form-field>
      </div>
      <div class row>
        <mat-form-field class="full-width-input">
          <input matInput type="password" placeholder="Password" formControlName="password" required>
          <mat-error>
            Please provide a valid Password
          </mat-error>
        </mat-form-field>
      </div>

    </mat-card-content>
    <button mat-raised-button routerLink="/auth/signin" color="warn" class="login-button"> Back to Login</button>
    <button mat-raised-button color="primary">Register</button>
  </form>

</mat-card>
